<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card class="today" slot="start">
      <div class="date">{{date|date:'d'}}</div>
      <div class="month">{{date|date:'M月'}}</div>
    </ion-card>
    <ion-title (click)="scrollToTop(500)">知乎日报</ion-title>
    <ion-avatar class="avatar" slot="end">
      <img src="assets/icon/favicon.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content id="view">
  <app-slide [newsSlides]="newsSlides" [slideOptions]="slideOptions"></app-slide>
  <ion-list class="news-list" *ngFor="let data of dataList">
    <ion-label class="divider" *ngIf="!data.is_today">
      {{data.date | date:'M月d日'}}
    </ion-label>
    <ion-item lines="full" *ngFor="let news of data.news" class="news-item" [routerLink]="['/article',news.id]">
      <div class="text">
        <h3 class="title">{{news.title}}</h3>
        <p class="desc">{{news.hint}}</p>
      </div>
      <ion-thumbnail slot="end" class="avatar">
        <img [src]="news.thumbnail" />
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="15%" position="bottom" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="circular" loadingText="正在加载...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>