.today {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 4px 12px;
    margin: 10px;
    .date {
        flex: 1;
    }
    .month {
        flex: 1;
    }
}
.news-list {
    .news-item {
        .text {
            .title {
                font-size: 18px;
                font-weight: 700;
                line-height: 28px;
            }
            .desc {
                font-size: 14px;
                color: #7c7c7c;
            }
        }
    }
}
